<div id="userTemplates">

<!-- ==================================================== -->
<!-- ОРГ.ТЕМЫ, ПОДАЧА АНКЕТЫ -->
<!-- ==================================================== -->

  <!-- ШАБЛОН ЛЗ -->
      	<div class="template">
      		<div class="tmpl_name">Личное звание</div>

      		<div class="tmpl_forum_ids">13</div>

      		<div class="tmpl_topic_ids">15</div>

      		<div class="tmpl_form">
      		[
      			{
      				"name": "имя фамилия",
      				"info": "Укажите имя и фамилию на русском",
      				"type": "text",
              "textTransform": "lowercase",
      				"tmpl": "FULLNAME"
      			},
      			{
      				"name": "Ссылка на анкету",
      				"info": "Ссылка на вашу анкету",
      				"type": "text",
      				"tmpl": "ANK_LINK"
      			},
      			{
      				"name": "Возраст",
      				"info": "Введите кол-во полных лет",
      				"type": "number",
      				"tmpl": "AGE"
      			},
      			{
      				"name": "Текст ЛЗ",
      				"info": "Введите текст. Для вставки ссылки используйте код {{LINK_TEMPLATE}}",
      				"type": "textarea",
      				"tmpl": "LZ"
      			},
      			{
      				"name": "Лояльность",
      				"info": "Выберите одно значение",
      				"type": "select",
      				"optList": [
      					"пожиратели смерти",
      					"министерство магии",
      					"гражданское сопротивление",
      					"нейтралитет"
      				],
      				"tmpl": "SIDE"
      			}
      		]
      		</div>

      		<div class="tmpl_code">
[code]<div class="lzbk"><div class="ank"><a href="{{ANK_LINK}}">{{FULLNAME}}, {{AGE}}</a></div><div class="txt">{{LZ}}</div><div class="lol">{{SIDE}}</div></div>[/code]
      		</div>
      	</div>
  <!-- конец ШАБЛОН ЛЗ -->

  <!-- ШАБЛОН СПИСОК РОЛЕЙ -->
      	<div class="template">
      		<div class="tmpl_name">Список ролей</div>

      		<div class="tmpl_forum_ids">13</div>

      		<div class="tmpl_topic_ids">15 4</div>

      		<div class="tmpl_form">
      		[
      			{
      				"name": "имя",
      				"info": "Укажите имя на английском",
      				"type": "text",
              "textTransform": "uppercase",
      				"tmpl": "NAME_EN"
      			},
      			{
      				"name": "фамилия",
      				"info": "Укажите фамилию на английском",
      				"type": "text",
              "textTransform": "uppercase",
      				"tmpl": "SURNAME_EN"
      			},
      			{
      				"name": "Ссылка на ваш профиль",
      				"info": "Ссылка на ваш профиль",
      				"type": "text",
      				"tmpl": "PROFILE_LINK"
      			},
      			{
      				"name": "Возраст",
      				"info": "Введите кол-во полных лет",
      				"type": "number",
      				"tmpl": "AGE"
      			},
      			{
      				"name": "Дата рождения",
      				"info": "В формате гггг-мм-дд",
      				"type": "text",
      				"tmpl": "BIRTH"
      			},
      			{
      				"name": "Чистота крови",
      				"info": "Выберите одно значение",
      				"type": "select",
      				"optList": [
      					"pb",
      					"hb",
      					"mb",
      					"sq"
      				],
      				"tmpl": "BLOOD"
      			},
      			{
      				"name": "пол",
      				"info": "Выберите одно значение. f - женский, m - мужской.",
      				"type": "select",
      				"optList": [
      					"f",
      					"m"
      				],
      				"tmpl": "SEX"
      			},
      			{
      				"name": "имя внешности на английском",
      				"info": "Укажите имя внешности на английском",
      				"type": "text",
              "textTransform": "lowercase",
      				"tmpl": "FACE_EN"
      			},
      			{
      				"name": "Лояльность",
      				"info": "Выберите одно значение",
      				"type": "select",
      				"optList": [
      					"пожиратели смерти",
      					"министерство магии",
      					"гражданское сопротивление",
      					"нейтралитет"
      				],
      				"tmpl": "SIDE"
      			},
      			{
      				"name": "Организация",
      				"info": "Укажите организацию (если есть). Например, Гражданское сопротивление.",
      				"type": "select",
      				"optList": [
      					"Стая Фенрира Грейбека",
      					"Гражданское сопротивление",
      					"Союз независимых журналистов",
      					"Общество поддержки сквибов",
      					"Цветы аконита",
      					"Дети Лютного",
      					"Йегеристы"
      				],
				"addEmptyOpt": "Без организации",
      				"tmpl": "SUBSIDE"
      			},
      			{
      				"name": "Место работы",
      				"info": "Укажите место работы вашего персонажа. Подробно, отделяя уровни запятыми. Если у персонажа два вида деятельности, разделять их через символ / . Если нужны кавычки, то используйте «вот такие»<br> Полное название уровня в Министерстве или этажа в Мунго писать не надо, ТОЛЬКО НОМЕР..<br>  Примеры : <br> Министерство магии, уровень 2, штаб хит-визардов, ефрейтор  <br> Больница Святого Мунго, 1 этаж, колдомедик <br> Лютный переулок, бордель «дементор», уборщик / Хогвартс, преподаватель ЗОТИ",
      				"type": "text",
      				"tmpl": "JOB"
      			}
      		]
      		</div>

      		<div class="tmpl_code">
[code]
	  {
	    "name": "{{NAME_EN}}",
	    "surname": "{{SURNAME_EN}}",
	    "age": "{{AGE}}",
	    "blood": "{{BLOOD}}",
	    "face": "{{FACE_EN}}",
	    "job": "{{JOB}}",
	    "profile": "{{PROFILE_LINK}}",
	    "side": "{{SIDE}}",
	    "sex": "{{SEX}}",
	    "birth": "{{BIRTH}}",
	    "sub": "{{SUBSIDE}}"
	  }[/code]
      		</div>
      	</div>
  <!-- конец ШАБЛОН СПИСОК РОЛЕЙ -->

  <!-- v2 ШАБЛОН СПИСОК РОЛЕЙ -->
      	<div class="template">
      		<div class="tmpl_name">Список ролей</div>

      		<div class="tmpl_forum_ids">13</div>

      		<div class="tmpl_topic_ids">15 4</div>

      		<div class="tmpl_form">
      		[
      			{
      				"name": "имя",
      				"info": "Укажите имя на английском",
      				"type": "text",
              "textTransform": "uppercase",
      				"tmpl": "NAME_EN"
      			},
      			{
      				"name": "фамилия",
      				"info": "Укажите фамилию на английском",
      				"type": "text",
              "textTransform": "uppercase",
      				"tmpl": "SURNAME_EN"
      			},
      			{
      				"name": "Ссылка на ваш профиль",
      				"info": "Ссылка на ваш профиль",
      				"type": "text",
      				"tmpl": "PROFILE_LINK"
      			},
      			{
      				"name": "Возраст",
      				"info": "Введите кол-во полных лет",
      				"type": "number",
      				"tmpl": "AGE"
      			},
      			{
      				"name": "Дата рождения",
      				"info": "В формате гггг-мм-дд",
      				"type": "text",
      				"tmpl": "BIRTH"
      			},
      			{
      				"name": "Чистота крови",
      				"info": "Выберите одно значение",
      				"type": "select",
      				"optList": [
      					"pb",
      					"hb",
      					"mb",
      					"sq"
      				],
      				"tmpl": "BLOOD"
      			},
      			{
      				"name": "пол",
      				"info": "Выберите одно значение. f - женский, m - мужской.",
      				"type": "select",
      				"optList": [
      					"f",
      					"m"
      				],
      				"tmpl": "SEX"
      			},
      			{
      				"name": "имя внешности на английском",
      				"info": "Укажите имя внешности на английском",
      				"type": "text",
              "textTransform": "lowercase",
      				"tmpl": "FACE_EN"
      			},
      			{
      				"name": "Лояльность",
      				"info": "Выберите одно значение",
      				"type": "select",
      				"optList": [
      					"пожиратели смерти",
      					"министерство магии",
      					"гражданское сопротивление",
      					"нейтралитет"
      				],
      				"tmpl": "SIDE"
      			},
      			{
      				"name": "Организация",
      				"info": "Укажите организацию (если есть). Например, Гражданское сопротивление.",
      				"type": "select",
      				"optList": [
      					"Стая Фенрира Грейбека",
      					"Гражданское сопротивление",
      					"Союз независимых журналистов",
      					"Общество поддержки сквибов",
      					"Цветы аконита",
      					"Дети Лютного",
      					"Йегеристы"
      				],
					"addEmptyOpt": "Без организации",
      				"tmpl": "SUBSIDE"
      			},
      			{
      				"name": "Место работы 1",
      				"info": "Укажите место работы",
      				"type": "select",
      				"optList": [
      					"Больница Святого Мунго, 1 этаж, ",
      					"Больница Святого Мунго, 2 этаж, ",
      					"Больница Святого Мунго, 2 этаж, аврорат, ",
      					"Больница Святого Мунго, 2 этаж, штаб хит-визардов, ",
      					"Больница Святого Мунго, 2 этаж, штаб вич-вочеров, ",
      					"Больница Святого Мунго, 2 этаж, штаб магического патруля, ",
      					"Больница Святого Мунго, 2 этаж, сектор борьбы с неправомерным использованием магии, ",
      					"Больница Святого Мунго, 2 этаж, сектор борьбы с незаконным использованием изобретений маглов, ",
      					"Больница Святого Мунго, 2 этаж, отдел выявления и конфискации поддельных защитных заклинаний и оберегов, ",
      					"Больница Святого Мунго, 2 этаж, Визенгамот, ",
      					"Больница Святого Мунго, 2 этаж, колдомедики, ",
      					"Больница Святого Мунго, 3 этаж, ",
      					"Больница Святого Мунго, 3 этаж, группа аннулирования случайного волшебства, ",
      					"Больница Святого Мунго, 3 этаж, штаб-квартира стирателей памяти, ",
      					"Больница Святого Мунго, 3 этаж, комитет по выработке объяснений для маглов, ",
      					"Больница Святого Мунго, 4 этаж, ",
      					"Больница Святого Мунго, 5 этаж, ",
      					"Больница Святого Мунго, 6 этаж, ",
						"Дурмстранг, ",
      					"Министерство магии, уровень 1, ",
      					"Министерство магии, уровень 2, ",
      					"Министерство магии, уровень 3, ",
      					"Министерство магии, уровень 4, ",
      					"Министерство магии, уровень 5, ",
      					"Министерство магии, уровень 6, ",
      					"Министерство магии, уровень 7, ",
      					"Министерство магии, уровень 8, ",
      					"Министерство магии, уровень 9, ",
      					"Косой переулок, ",
      					"Лютный переулок, ",
      					"Пресса, ",
      					"Спорт, квиддич, ",
      					"Спорт, плюй-камни, ",
      					"Хогвартс, ",
      					"Хогсмид, "
      				],
					"addEmptyOpt": "Прочее",
      				"tmpl": "JOB_1_PREFIX"
      			},
      			{
      				"name": "Место работы",
      				"info": "Укажите конкретное место (при необходимости) и должность через запятую (несколько должностей через ;). Если нужны кавычки, то используйте «вот такие»",
      				"type": "text",
      				"tmpl": "JOB_1_POSTFIX"
      			}
      		]
      		</div>

      		<div class="tmpl_code">
[code]
	  {
	    "name": "{{NAME_EN}}",
	    "surname": "{{SURNAME_EN}}",
	    "age": "{{AGE}}",
	    "blood": "{{BLOOD}}",
	    "face": "{{FACE_EN}}",
	    "job": "{{JOB_1_PREFIX}}{{JOB_1_POSTFIX}}/ {{JOB_2_PREFIX}}{{JOB_2_POSTFIX}}/ {{JOB_3_PREFIX}}{{JOB_3_POSTFIX}}",
	    "profile": "{{PROFILE_LINK}}",
	    "side": "{{SIDE}}",
	    "sex": "{{SEX}}",
	    "birth": "{{BIRTH}}",
	    "sub": "{{SUBSIDE}}"
	  }[/code]
      		</div>
      	</div>
  <!-- конец v2 ШАБЛОН СПИСОК РОЛЕЙ -->


<!-- ==================================================== -->
<!-- ЭПИЗОДЫ -->
<!-- ==================================================== -->

  <!-- ШАБЛОН ШАПКИ ЭПИЗОДА-->
    	<div class="template">
    		<div class="tmpl_name">Шапка эпизода</div>

    		<div class="tmpl_forum_ids">24 25</div>

    		<div class="tmpl_topic_ids"> 4</div>

    		<div class="tmpl_form">
    		[
    			{
    				"name": "Название эпизода",
    				"info": "Укажите название эпизода",
    				"type": "text",
            "textTransform": "uppercase",
    				"tmpl": "EPISODE_NAME"
    			},
    			{
    				"name": "Дата",
    				"info": "Введите дату",
    				"type": "text",
    				"tmpl": "DATE"
    			},
    			{
    				"name": "Место",
    				"info": "Укажите место",
    				"type": "text",
    				"tmpl": "LOCATION"
    			},
    			{
    				"name": "Изображение 1",
    				"info": "Введите ссылку на изображение",
    				"type": "text",
            "default": "https://imgholder.ru/250x145/bebebe/000000&text=250%D1%85145",
    				"tmpl": "IMG_1"
    			},
    			{
    				"name": "Изображение 2",
    				"info": "Введите ссылку на изображение",
    				"type": "text",
            "default": "https://imgholder.ru/250x145/bebebe/000000&text=250%D1%85145",
    				"tmpl": "IMG_2"
    			},
    			{
    				"name": "Участники эпизода",
    				"info": "Введите текст",
    				"type": "textarea",
            "default": "персонаж 1 • персонаж 2",
    				"tmpl": "NAMES"
    			},
    			{
    				"name": "Описание эпизода",
    				"info": "Описание эпизода в сводобной форме",
    				"type": "textarea",
    				"tmpl": "EPISODE_DESCR"
    			}
    		]
    		</div>

    		<div class="tmpl_code">
[quote][align=center][font=Helvetica Neue][b][size=20]{{EPISODE_NAME}}[/size][/b][/font]
[size=10]— {{DATE}} // {{LOCATION}} —[/size]
[img]{{IMG_1}}[/img] [img]{{IMG_2}}[/img]
[size=10][b]{{NAMES}}[/b][/size][/align]
[hr]

[table layout=fixed width=100%]
[tr]
[td][/td]
[td width=80%]
{{EPISODE_DESCR}}
[/td]
[td][/td]
[/tr]
[/table][/quote]
    		</div>
    	</div>
  <!-- конец ШАБЛОН ШАПКИ ЭПИЗОДА -->


</div>
