.container {
  display: flex;
}
#canvas {
  width: 550px;
  height: auto;
  margin-right: 20px;
}
.canvas {
  width:500px;
  height:300px;
}
.sliders {
  display: flex;
  flex-direction: column;  
  margin-top: 23px;
}
.color-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
}
.red-box {
  background-image: url("img/paint_0_red.png");
}
.green-box {
  background-image: url("img/paint_1_green.png");
}
.blue-box {
  background-image: url("img/paint_2_blue.png");
}
.white-box {
  background-image: url("img/paint_4_white.png");
}
.black-box {
  background-image: url("img/paint_3_black.png");;
}
.gray-box {
  background-image: url("img/paint_5_gray.png");
}
.rainbow-box {
  background-image: url("img/paint_6_rainbow.png");
}

:root {
  --dark-color: #392f2e;
  --dark-orange-color: #b45540;
}

.body {
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
}

.dark-background {
  background: var(--dark-color);
}

.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outer-border {
  border: 2px solid var(--dark-orange-color);
  padding: 6px;
  margin: 0 auto;
}

.mid-border {
  border: 6px solid var(--dark-orange-color);
  padding: 6px;
  margin: auto;
}

.inner-border {
  position: relative;
  border: 2px solid var(--dark-orange-color);
}
